.container{
	margin: 2rem;
}

.chat-ul{
	position: absolute;
	height: 400px;
    overflow-y: scroll;
	z-index: 2;
	width: 600px;	
}

.chat-box{
	
	-ms-transform: translateX(-60%);
	-webkit-transform: translate(-60%);
	transform: translate(-60%);
	left:50%;
	position: relative;
	margin:5rem;
	box-shadow: 3px 3px 4px 4px rgb(150,150,150);
	height: 500px;
	width: 600px;	
	overflow: hidden;
}

.message-input{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2rem;	
	font-size: 20px;
	width: 500px;
	overflow: hidden;
	cursor: pointer;
	z-index: 4;
}

.message-input:focus{
	outline: 0px solid transparent;
}

.icon{
	position: absolute;
	font-size: 40px;
	bottom: 25px;
	left: 505px;	
	z-index: 5;
}

#placeholder{
	color:rgb(30,30,30);
}

.chat-ul{
	position: absolute;


}

.small{
	font-size: 14px;
}

.chat-ul li {
      display: inline-block;
	margin: .5rem;
	list-style: none;
	font-size: 0px;
	background-color: rgb(30,30,30) ;
	padding-left:0px;
	padding-right:20px;
	padding-bottom:2px;
	color:white;
	border-radius: 4px;
	border-left-style: solid;
	border-left-color: rgb(30,30,30);
	border-bottom-style: solid;
	border-bottom-width: 8px;
	border-bottom-color: white;
	opacity: 0;
    animation-name: fade;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;


}

@keyframes fade{
	from{
		font-size: 0px;
		opacity: 0;
		padding-left:-40px;
	}
	to{
		font-size: 20px;
		opacity: 1;
		padding-left:20px;
	}
}

html{
	font-family: 'Sarabun', sans-serif;
}